* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sora';
    src: url(./fonts/Sora.ttf);
}

body {
    background-color: #FAFAF9;
    font-family: 'Sora';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    background-color: #fff;
    width: 418px;
    box-shadow: 5px 6px 8px 2px rgba(167, 165, 165, 0.2);
    border-radius: 15px;
}

img {
    width: 90%;
    border-radius: 15px;
    margin: 20px 20px 0 20px;
}

.body {
    padding: 15px;
}

.design {
    background-color: #E6D6FC;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    padding: 7px;
    margin-bottom: 26px;
    color: #883AE1;
    font-size: 0.75rem;
    font-weight: bold;
}

.title {
    color: #20293A;
}

.desc,
.author {
    color: #6C727F;
}

.desc {
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid #E5EAF0;
}

.author{ 
    padding: 4px;
    margin-left: 8px;
}